body {
  background: #efefef;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300;
  margin: 5px; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.apps-outer {
  height: 265px;
  width: 265px;
}
.apps-outer .apps-inner {
  display: block;
  text-decoration: none;
  height: 250px;
  width: 100%;
  padding: 0; 
  background: #00BCD4;
}
.apps-outer h4 {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
  transition: all 600ms; 
}
.apps-outer:hover h4 {
  transition: all 600ms;
  opacity: 1;
  -webkit-transform: translate3d(0, -95px, 0);
          transform: translate3d(0, -95px, 0);
}

.apps-outer.add-button:hover h4 {
    transition: all 600ms;
    opacity: 1;
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}

.apps-inner:hover h1 {
  visibility: hidden;
}

.apps-inner h1 {
  font-size: 180px;
  text-align: center;
   color: #fff;
}

.apps-inner.add-link:hover h1 {
  visibility: visible;
  text-decoration: none;
}

.apps-inner.add-link:hover {
  text-decoration: none;
}

.apps-row {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

#datetime {
  text-align: center;
}
#datetime h1 {
  font-size: 6.1em;
}

#datetime h4 {
  font-size: 1.0em;
}

.add-button {
  cursor: pointer;
  text-transform: capitalize;
}

.add-button h1 {
  text-align: center;
  margin-top: 40%;
  font-size: 2em;
}

.modal-content .modal-header {
  padding-bottom: 24px;
}

.add-button .tooltip-inner {
  padding: 10px;
}

.btn.btn-fab i { 
  margin-left: -7px;
  font-size: 15px;
  top: -10px;
}

.btn.btn-fab.btn-fab-mini {
  width: 25px;
  height: 25px;
}

.edit-button,
.delete-button {
  float: right;
  display: none;
}

.apps-outer:hover .edit-button,
.apps-outer:hover .delete-button {
  margin-right: 4px;
  margin-top: 4px;
  display: inline-block;
}